* {
	margin: 0;
	padding: 0;
	float: none;
}

body {
	font: normal small Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
}
#container #sideup #update .content hr {
	color:#990000;
}
#container #sideup #update .content a {
	color::#FF9900;
	text-decoration: none;
}
#container #sideup #update .content a:hover {
	text-decoration: underline;
}




h2 {
	margin-bottom: .5em;
	font-size: 1.8em;
}
#main #specs hr {
	color:#990000;
	width: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#specs{
	width:715px;
	float: right;
}


h3 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	padding-left: 10px;
}
#container #main #specs .news blockquote {
	color: #333333;
	padding-right: 10px;
	padding-left: 10px;
}

#container #main #specs .news {
	width: 710px;
	height: auto;
	padding-right: 5px;
	padding-left: 5px;
}


blockquote, ul, ol {
	margin-bottom: 1.5em;
	line-height: 1.8em;
}


ul {
	margin-left: 2em;
	list-style-image: url(images/img09.gif);
}

ul li {
}

ol {
	margin-left: 2em;
	list-style-type: lower-alpha;
	margin-top: 1em;
	margin-bottom: 1em;
}

ol li {
}

a {
	color:#990000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color:#FF9900;
}

img {
	margin: 5px;
	border: 1px solid #CCCCCC;
}

/* Boxed Style */

.boxed {
	border: 1px solid #CCCCCC;
	background-color: #F7F7F7;
	background-image:url(images/Buttons.bmp);
	background-repeat: repeat-x;
}

.boxed .title {
	height: 29px;
	padding: 11px 0 0 27px;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

.boxed .content {
	padding: 5px;
	font-weight: bold;
	color: #333333;
	height: auto;

}
.boxed .content .a{
	text-decoration: none;
	color:#990000;
	font-weight: bold;
}
.boxed .content .a:hover{
	text-decoration: none;
	color:#FF9900;
}
.ufone {
	height: 150px;
	width: 180px;
	border: 1px solid #999999;
	margin-top: 5px;
	margin-bottom: 5px;
}

#container {
	width: 1004px;
	margin-right: auto;
	margin-left: auto;
	background-color:#FFFFFF;
	min-height:1140;
	height: auto;
}
.box  {
	width: auto;
	color: #666666;
	height: auto;
	background-attachment: fixed;
	float: left;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}
.box a {
	color:#990000;
	text-decoration: none;
}
.box a:hover {
	color:#FF9900;
}

.pic  {
	width: auto;
	color:#990000;
	height: auto;
	float: left;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	margin-left: 10px;
}
.pic a {
	color:#990000;
	text-decoration: none;
}
.pic a:hover {
	color:#FF9900;
}


#container #main #welcome #mobiles {
	height: auto;
	width: auto;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}


/* Header */

#header {
margin:0px auto;
	width: 1004px;
	height: 130px;
	background-image:url(images/Header.JPG);
}

/* Header > Top Menu */

#topmenu {
	float: right;
	width: 240px;
}


#topmenu ul {
	margin: 0;
	padding: 100px 0 0 0;
	list-style: none;
	line-height: normal;
}
.search {
	padding-top: 10px;
	float: right;
	color:#990000;
	font-weight: bold;
	text-transform: uppercase;
}


#topmenu li {
	display: inline;
}

#topmenu a {
	display: block;
	float: left;
	text-transform: uppercase;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 20px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 15px;
}

#topmenu a:hover {
	text-decoration: underline;
}

#topmenu1 {
	background-image: url(images/img03.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#topmenu2 {
	background-image: url(images/img05.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#topmenu3 {
	background-image: url(images/img04.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

/* Menu */

#menu {
	width: 1004px;
	height: 40px;
	margin: 0;
	background-image: url(images/img011.gif);
}

#menu ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 26px;
	background: url(images/img06.gif) no-repeat;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding-top: 14px;
	padding-right: 18px;
	padding-bottom: 0;
	padding-left: 20px;
}

#menu a:hover {
	text-decoration: underline overline;
	color:#FF9933;
}
#container #menu .selected {
	color:#FF9933;
	text-decoration: underline overline;
}


/* Content > Main */

#main {
border:1px #CCCCCC solid;
	width:190px;
	height: auto;
}

/* Content > Main > Example */


#categories{
	float: left;
	width: 190px;
	height:auto;
	margin-bottom: 10px;
}
#welcome  {
	width: 510px;
	height: auto;
	float: right;
	margin-right: 10px;
}

#featured    {
	width: 510px;
	float: right;
	height: auto;
	margin-right: 7.5px;
}

.table-design tr td {
background:#990000;
 padding:5px; 
 border:none;
}


.table-design th {
background:#990000;
 padding:5px;
 border:none;
}
#sideup {
	width:190px;
	height:auto;
	float:right;



}

#sideup #update {
	height: auto;
	width: 190px;
	float: right;
	border: 1px solid #CCCCCC;
}
#call   {
	height: 100px;
	width: 190px;
	float: right;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-top: 0px;
	background-image: url(images/banner2%20copy.jpg);

}
#container #main #specs {
	float: right;
	height: auto;
	width: 710px;
	
}






/* Footer */

#footer {
float:right;
	width: 1004px;
	background: #F7F7F7 url(images/Footer.JPG) repeat-x;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;	/*float: right;
	clear: both;
	padding: 0px;*/
}

/* Footer > Legal */

#legal {
	margin: 0;
	padding: 8px;
	text-align: center;
	color: #FFFFFF;
}

#legal a {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
#legal  a:hover   {
	color: #EA672E;
}



/* Footer > Links */

#links {
	margin: 0;
	padding: 10px;
	text-align: center;
}
#sitemap    {
	height: auto;
	width: auto;
}
#container #main #specs #sitemap img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#sitemap ul {
	list-style-position: outside;
	list-style-type: disc;
	list-style-image: none;
	margin-bottom: 1px;
	color: #11A6D4;
}
#sitemap li {
	font-weight: bold;
	text-transform: uppercase;
}
#container #main #welcome #sitemap a {
	text-decoration: none;
}
.morebutton a{
	text-align: center;
	display: block;
	width: 50px;
	margin-bottom: 5px;
	background: #11A6D4;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
	float: right;
	padding-right: 0;
	padding-left: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a59180;
}
.morebutton a:hover {
	background-color: #EA672E;
}
.contact {
width:auto;
height:auto;
}
.contact p {
	font-weight: bold;
	color:#990000;
}

#container #main #welcome .contact td {
	color: #11A6D4;
}
#container #sideup #welcome .content blockquote {
	text-indent: 20px;
}
.select {
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	background-color: #EA672E;
}
.btn{background-image:url(images/Buttons.bmp);}
.Img{margin-left:30px; margin-top:30px;}
.sub{width:175px; border:2px #000000; border:#000000 1px solid; margin-top:20px;}
.Sh{width:auto; height:auto; background-image:url(images/Buttons.bmp);}
.hr{background-color:#990000;}
.m{margin-left:40px;}
.m2{margin-left:20px;}
.b{float:right; margin-right:250px; margin-bottom:20px; margin-top:20px;}
