* {
	margin: 0;
	padding: 0;
}

#container {
	width: 900px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	height: 700px;
	margin-right: auto;
	margin-left: auto;
}

body {
	font: normal small Arial, Helvetica, sans-serif;
	color: #999999;
	width: 900px;
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
}

h1, h2, h3 {
	margin: 0;
	color: #11A6D4;
}

h2 {
	margin-bottom: .5em;
	font-size: 1.8em;
}

h3 {
	margin-bottom: 1em;
	font-size: 1em;
}

p, blockquote, ul, ol {
	margin-bottom: 1.5em;
	line-height: 1.8em;
}

p {
}

blockquote {
}

ul {
	margin-left: 2em;
	list-style-image: url(../../ASKMe-Mobile/images/images/img09.gif);
}

ul li {
}

ol {
	margin-left: 2em;
	list-style: lower-roman;
}

ol li {
}

a {
	color: #EA672E;
}

a:hover {
	text-decoration: none;
	color: #11A6D4;
}

img {
	border: none;
}

/* Boxed Style */

.boxed {
	margin-bottom: 1em;
	border: 1px solid #CCCCCC;
	background-color: #F7F7F7;
	background-image: url(../../ASKMe-Mobile/images/images/img07.gif);
	background-repeat: repeat-x;
}

.boxed .title {
	height: 29px;
	padding: 11px 0 0 27px;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #FFFFFF;
	background-image: url(../../ASKMe-Mobile/images/images/img08.gif);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

.boxed .content {
	padding: 5px;

}
.boxed .content .a{
	text-decoration: none;
	color: #11A6D4;
	font-weight: bold;
}
.boxed .content .a:hover{
	text-decoration: none;
	color: #EA672E;
}

/* Header */

#header {
	width: 900px;
	height: 130px;
	background-image: url(../../ASKMe-Mobile/images/images/img02900.jpg);
}

/* Header > Top Menu */

#topmenu {
	float: right;
	width: auto;
}

#topmenu ul {
	margin: 0;
	padding: 100px 0 0 0;
	list-style: none;
	line-height: normal;
}

#topmenu li {
	display: inline
}

#topmenu a {
	display: block;
	float: left;
	margin: 0 0 0 20px;
	padding: 0 0 0 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	color: #FFFFFF;
}

#topmenu a:hover {
	text-decoration: underline;
}

#topmenu1 {
	background: url(../../ASKMe-Mobile/images/images/img03.gif) no-repeat left center;
}

#topmenu2 {
	background: url(../../ASKMe-Mobile/images/images/img04.gif) no-repeat left center;
}

#topmenu3 {
	background: url(../../ASKMe-Mobile/images/images/img05.gif) no-repeat left center;
}

/* Menu */

#menu {
	width: 900px;
	height: 40px;
	margin: 0;
	background-image: url(../../ASKMe-Mobile/images/images/img011.gif);
}

#menu ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 26px;
	padding: 14px 18px 0 20px;
	background: url(../../ASKMe-Mobile/images/images/img06.gif) no-repeat;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

#menu a:hover {
	text-decoration: underline;
	color: #1FACD7;
}

/* Content > Main */

#main {
	width: 700px;
	height: 415px;
}

/* Content > Main > Example */


#categories{
	float: left;
	width: 180px;
	height:300px;
	margin: 0px;

}
#welcome  {
	width: 510px;
	float: right;
	height: 200px;
}
#featured    {
	width: 510px;
	float: right;
	height: 200px;
}
#sideup #update {
	height: 300px;
	width: 190px;
	float: right;
}





/* Footer */

#footer {
	width: 900px;
	background: #F7F7F7 url(../../ASKMe-Mobile/images/images/img07.gif) repeat-x;
	border: 1px solid #CCCCCC;
	margin-top: 500px;
	margin-right: auto;
	margin-left: auto;
	float: right;
	clear: both;
	padding: 0px;
}

/* Footer > Legal */

#legal {
	margin: 0;
	padding: 8px;
	text-align: center;
	color: #FFFFFF;
}

#legal a {
	font-weight: bold;
	color: #FFFFFF;
}

/* Footer > Links */

#links {
	margin: 0;
	padding: 10px;
	text-align: center;
}
